.client-create {
  display: flex;
  justify-content: center;
}

.client-create__group-input {
  padding: 0 10%;
  margin: 2em 0;
}

.client-create{
  width: 70%;
margin-left: auto;
margin-right: auto;
margin-top:25px !important;
}

.large-text{
  font-size: 20px;
 
}