@import '../../config/_global.scss';

.topup-deposit__modal {
  .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: $primary-color;
    font-size: 3rem;
  }
}

.top-up{
  color: $primary-color;
  padding-left: 25px;
  padding-right: 25px;
  border: solid 1px;
  background: white;
  font-size: 20px;
}

.app-actions__right{
  margin-bottom: 30px;
}

.total{
  color: #333333;
  padding-right: 20px;
  font-size: 12px; 
}

.deposit-small-text{
  margin: 15px !important;
}

.apps__status {
  width: 100px;
  text-align: center;

  &.--payment{
    background-color: #a1cd43;
    padding: 0.25em 1em;
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    margin-right: 2px;
  }

  &.--topup{
    background-color: #eaa844;
    padding: 0.25em 1em;
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    margin-right: 2px;
  }

  &.--refund{
    background-color: #e17273;
    padding: 0.25em 1em;
    border-radius: 4px;
    color: white;
    text-transform: capitalize;
    margin-right: 2px;
  }
}