@import '../../config/_global.scss';

.topup-deposit__modal {
  .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: $primary-color;
    font-size: 3rem;
  }
}

.top-up{
  color: $primary-color;
  padding-left: 25px;
  padding-right: 25px;
  border: solid 1px;
  background: white;
  font-size: 20px;
}

.app-actions__right{
  margin-bottom: 30px;
}

.total{
  color: #333333;
  padding-right: 20px;
  font-size: 12px; 
}

.ant-calendar-picker{
  margin-left: 15px !important;
}

.ant-time-picker{
  margin-left: 15px !important;
}

.small-text{
  margin: 15px !important;
}