$primary-color: #a1cd43;
$background-color: #f0f2f5;
$font-color: #333333;
$error-color: #f16a70;
$warning-color: #f7da2c;
$gray-color:  #a7a7a7;
$primary-light-color: #a1cd4338;
$primary-dark-color: #61792c;
$black: rgba(0, 0, 0, 0.65);

$padding-common: 1.5em;
$padding-tab: 0 1em 1em 1em;
$padding-px: 16px;
$padding-big: 24px;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;