.app-header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  .toggle-menu {
    width: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  .toggle-menu span {
    display: block;
    position: relative;
    margin: 10px 0;
    line-height: 30px;
  }
  .toggle-menu span,
  .toggle-menu span:before,
  .toggle-menu span:after {
    height: 2px;
    background: #9b9b9b;
    width: 24px;
  }
  .toggle-menu span:before {
    width: 75%;
  }
  .toggle-menu span:before,
  .toggle-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
  }
  .toggle-menu span:after {
    top: 7px;
    width: 75%;
  }
}

.app-header__logo {
  padding-left: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
}

.app-header__logo-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg, img {
    height: 29px;
    width: auto;
  }
}

.app-header__title {
  position: absolute;
  top: 0;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.app-header__popover {
  padding-right: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
}

.btn-name_profile{
  padding: 0 0 0 0.5em !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.app-header__popover-profile{
  min-width: 180px;
  text-align: center !important;
}

.app-header__popover-username {
  padding: 1em 2em 0 2em;
  font-weight: bold;
}

.app-header__popover-label {
  font-size: 1.1rem;
}

.app-header__popover-initial {
  text-transform: uppercase;
  font-size: 1.2rem;
  &.--big {
    font-size: 20px;
  }
}

.app-header__popover-action {
  padding: 0.75em 0 !important;
  color: rgba(0, 0, 0, 0.65) !important;
  text-decoration: none !important;
  cursor: pointer;
  i {
    margin-right: 3px;
  }
}