.product-list__radio {
  .ant-radio-disabled + span {
    color: rgba(0, 0, 0, 0.65) !important;
  }
}

.apps__status_product.--true{
  background-color: #a1cd43;
  padding: 0.25em 1em;
border-radius: 4px;
color: white;
text-transform: capitalize;
margin-right: 2px;
}

.apps__status_product.--false{
  background-color: #e17273;
  padding: 0.25em 1em;
border-radius: 4px;
color: white;
text-transform: capitalize;
margin-right: 2px;
}